body{background-color:rgb(92,200,234)}

#tab_practice ul {
	list-style: none;
	padding:0;
	margin:0;
}

#tab_practice .current_tab{
	display: inline;
	margin: 0 2px 0 0;
	background: rgb(52,52,52);
	border-radius:7px;
	padding:5px 1em 15px 1em;
	font-size: 20px;
}
#tab_practice .other_tab{
	display: inline;
	margin: 0 2px 0 0;
	background: rgb(42,150,184);
	border-radius:7px;
	padding:5px 1em 15px 1em;
	font-size: 20px;
}
#tab_practice li.other_tab:hover {
	background: rgb(12,120,154);
}

#tab_practice li a {
	text-decoration: none;
	color: white;
}

#color_bar{
	background:rgb(52,52,52);
	height:15px;
	position:absolute;
	top: 31px;
	left: 8px;
	right: 5px;
}