body{background-color:rgb(52,160,194)}

table{
text-align:center;
border-collapse:collapse;
vertical-align:middle;
}

#banner{
	position:relative;
	height:200px;
	background-color:rgb(52,52,52);
	border-radius:20px;
}
#banner-text-welcome{
	position:absolute;
	top:10px;
	left:50%;
	margin-left:-340px;
}
#banner-img-left{
	position:absolute;
	left:10px;
	top:10px;
}
#banner-img-right{
	position:absolute;
	right:10px;
	top:10px;
}
#banner-links ul {
	list-style: none;
	padding:0;
	margin:0;
}
#banner-links{
	left:20px;
	right:10px;
	position:absolute;
	top:170px;
	font-family:courier new;
	font-size:18px;
}
#banner-links li{
	display:inline;
	padding:0 0 0 15px;
}
#banner-links li a{
	color:white;
}

#audience-count{
	font-family:courier new;
	color:white;
	font-size:18px;
	position:absolute;
	right:20px;
	top:180px;
	left:10px;;
	text-align:right;
}


#tabs {
	position: relative;
	top: 50px;
	width:98%;
	margin-left:auto;
	margin-right:auto;
}
#tabs ul {
	list-style: none;
	padding:0;
	margin:0;
}
#tabs .current_tab{
	display: inline;
	margin: 0 2px 0 0;
	background: rgb(12,120,154);
	border-radius:7px;
	padding:5px 1em 15px 1em;
	font-size: 20px;
}
#tabs .other_tab{
	display: inline;
	margin: 0 2px 0 0;
	background: rgb(52,160,194);
	border-radius:7px;
	padding:5px 1em 15px 1em;
	font-size: 20px;
}
#tabs li.other_tab:hover {
	background: rgb(62,170,204);
}

#tabs li a {
	text-decoration: none;
	color: white;
}

#color_bar{
	background:rgb(12,120,154);
	height:15px;
	position:absolute;
	top: 31px;
	left: 0px;
	right: 0px;
}

#content{
	position:relative;
	top: 68px;
	width:98%;
	margin-left:auto;
	margin-right:auto;
	min-height:300px;
	max-height:625px;
	background-color: rgb(12,120,154);
	border-radius:20px;
}
#tomorrow-rankings{
	width:250px;
	position:absolute;
	right:10px;
	top:50px;
	color:white;
	background-color:rgb(12,120,154);
	font-family:lao ui;
}
#character_n_rant{
	position:relative;
	top: 0px;
	margin-left:20px;
	margin-right:300px;
	height:700px;
}
#right_side{
	position:relative;
	width:70%;
	float:right;
	height:100%;
}
#winner{
	position:absolute;
	top:10px;
	width:100%;
	font-family:lao ui;
	color:white;
	text-align:center;
	font-weight:700;
	font-size:20pt;
}
#rant-bubble{
	text-align:left;
	position:absolute;
	top:50px;
	width:90%;
	max-height:65%;
	min-height:15%;
	background-color:rgb(215,226,229);
	border-radius:50px;
	border:solid 40px rgb(215,226,229);
	overflow:auto;
	font-family:times new roman;
	font-size:18px;
}
#left_side{
	position:relative;
	top:0px;
	float:left;
	width:30%;
	height:700px;
}
#triangle {
	position:absolute;
	width: 0;
	height: 0;
	border-top: 90px solid transparent;
	border-right: 100px solid rgb(215,226,229);
	border-bottom: 40px solid transparent;
	right:0px;
	top:370px;
}
#character{
	position:absolute;
	top:440px;
	right:31%;
}
#stand-on-soapbox{
	position:absolute;
	top:580px;
	right:35%;
}
#countdown{
	position:absolute;
	top:100px;
	left:15%;
	color:red;
	font-family:times new roman;
	font-size:40px;
	
}
#contender_space{
	position:relative;
	top: 40px;
	width:100%;
	height:500px;
	background-color: rgb(12,120,154);
	border-radius:20px;
	box-sizing:border-box;
	padding:20px;
}
#contenders{
	position:absolute;
	top: 150px;
	left:10px;
	right:10px;
	bottom:10px;
	background-color: rgb(215,226,229);
	border-radius:20px;
}

@media (min-width: 910px) and (max-width: 1150px) {
	#MSB {
		padding-right:50px;
	}
	#banner-links{
		font-size:16px;
	}
	#audience-count{
		text-align:right;
		font-size:16px;
	}
	#tomorrow-rankings{
		left:5%;
	}
	#character{
		width:25%;
		text-align:right;
		padding-right:30px;
	}
	#stand-on-soapbox {
		width:25%;
		text-align:right;
		padding-right:50px;
	}
	#rant-bubble {
		left:25%;
		width:75%;
		text-align:left;
	}
	#rant-bubble {
		width:75%;
		left:25%;
		padding-left:130px;
	}
} 
@media (min-width: 746px) and (max-width: 909px) {
	#banner-links{
		text-align:center;
		font-size:16px;
		top:160px;
	}
	#audience-count{
		text-align:center;
		top:150px;
		right:0px;
	}
	#tomorrow-rankings{
		width:225px;
		left:5%;
	}
	#banner-text-welcome {
		padding-right:0;
		font-size:60pt;
	}
	#rant-bubble {
		width:65%;
		left:35%;
		padding-left:90px;
	}
	#rant-bubble {
		display:none;
	}
	#character{
		width:35%;
		text-align:right;
		padding-right:30px;
	}
	#stand-on-soapbox{
		width:35%;
		text-align:right;
		padding-right:50px;
	}
}
@media (min-width: 525px) and (max-width: 745px) {
	#banner-links{
		text-align:center;
		font-size:14px;
	}
	#audience-count{
		text-align:center;
		top:150px;
		right:0px;
	}
	#banner-text-welcome{
		text-align:right;
		padding-right:30px;
		font-size:60pt;
	}
	#banner-img-right{
		display:none;
	}
	#banner-img-left{
		left:5%;
	}
	#character{
		display:none;
	}
	#stand-on-soapbox{
		display:none;
	}
	#tomorrow-rankings{
		width:90%;
		left:5%;
		top:810px;
		text-align:center;
	}
	#rant-bubble {
		display:none;
	}
	#rant-bubble{
		width:90%;
		left:5%;
		padding-right:0px;
	}
}
@media (max-width: 524px) {
	#banner{
		width:504px;
	}
	#banner-text-welcome{		
		width:504px;
		text-align:right;
		padding-right:30px;
		font-size:60pt;
	}
	#banner-img-left{
		left:26px;
	}
	#banner-img-right{
		display:none;
	}
	#banner-links{
		left:10px;
		width:504px;
		text-align:center;
		font-size:14px;
	}
	#audience-count{
		width:504px;
		text-align:center;
		top:150px;
		right:0px;
	}
	#tomorrow-rankings{
		width:472px;
		left:26px;;
		top:810px;
		text-align:center;
	}
	#character{
		display:none;
	}
	#stand-on-soapbox{
		display:none;
	}
	#rant-bubble{
		display:none;
	}
	#rant-bubble{		
		width:472px;
		left:26px;
		padding-right:0px;
	}
}