#footer{
	position:relative;
	font-family:courier new;
	font-size:15px;
	left:0px;
	right:0px;
	margin-top:20px;
	margin-bottom:15px;
	text-align:center;
	list-style: none;
	padding:0;
}
#footer li{
	display:inline;
	padding:0 50px 0 50px;
}
#footer li a {
	color: white;
}