#footer{
	position:relative;
	font-family:courier new;
	font-size:15px;
	left:0px;
	right:0px;
	margin-top:100px;
	margin-bottom:15px;
	text-align:center;
	list-style: none;
	padding:0;
}
#footer li{
	display:inline;
	padding:0 50px 0 50px;
}
#footer li a {
	color: white;
}

#contact_us_background{
    background-color:rgb(12,120,154);
    position:fixed;
    top:25%;
    left:5%;
    right:5%;
    box-sizing:border-box;
    padding-left: 10%;
    padding-right: 10%;
    text-align:center;
    border: solid rgb(12,120,154) 10px;
}

#contact_us_space{
    margin-top:40px;
    left:0;
    right:0;
    height:200px;
    box-sizing:border-box;
    padding-left: 10%;
    padding-right: 10%;
    text-align:center;
    font-family:Lato;
    color:rgb(52,52,52);
    font-size: 20px;
    border: solid rgb(12,120,154) 10px;
}

#contact_us_close{
    position:absolute;
    bottom:0;
    left:0;
    background-color:rgb(52,52,52);
    border:solid 1px rgb(52,52,52);
    font-family:Lato;
    color:white;
    font-size: 20px;
    width:100%;
}
#contact_us_close:hover{
    border-color:white;
    cursor:pointer
}