#power_graph{
	position:absolute;
	bottom:20px;
	left:50px;
	right:0px;
	height:400px;
}

#graph{
	position:relative;
	top:0px;
	left:0px;
	right:0px;
	height:350px;
}
#rank_slider{
	position:relative;
	bottom:0px;
	left:0px;
	right:0px;
	height:50px;
	text-align:center;
	color:rgb(52,52,52);
	font-family:Lato;
	font-weight:700;
	margin-top:20px;
}

/*set style of rank_slider*/
.rank_slider .google-visualization-controls-slider-horizontal {
	width:700px;
	border:0;
	background-color:rgb(12,120,154);
}
/*set font of rank_slider limits*/
.rank_slider .google-visualization-controls-rangefilter-thumblabel {
    color:rgb(52,52,52);
	font-family:Lato;
	font-weight:100;
}
/*set style of rank_slider sliders*/
.rank_slider .google-visualization-controls-slider-thumb {
    background-color:rgb(52,52,52);
	border:0;
}
/*set color of rank_slider active range*/
.rank_slider .google-visualization-controls-slider-handle {
    background-color:rgb(215,226,229);
    opacity:1;
}
