#rant_container{
	position: relative;
	width:98%;
	padding-top:20px;
	padding-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgb(12,120,154);
	border-radius:20px;
	height:auto;
}
#winner_headline{
	margin-left:240px;
	margin-right:20px;
	font-family:Lato;
	color:white;
	text-align:center;
	font-weight:700;
	font-size:20pt;
}
#rant_bubble{
	text-align:left;
	margin-top:20px;
	margin-left:240px;
	margin-right:20px;
	max-height:1500px;
	min-height:150px;
	background-color:rgb(215,226,229);
	border-radius:50px;
	border-width:40px 40px 0 40px;
	border-style:solid;
	border-color:rgb(215,226,229);
	overflow:auto;
	font-family:Lato;
	font-size:16px;
	color:rgb(52,52,52);
	/*z-index:1;*/
}

#no_winner_message{
    text-align:center;
    font-family:Lato;
    font-size:20px;
    color:rgb(52,52,52);
}

#no_winner_protip{
    text-align:center;
    font-family:Lato;
    font-size:16px;
    font-style:italic;
    color:rgb(52,52,52);
}

#no_winner_protip span{
    font-weight:700;
}

#no_winner_link_to_prev{
    text-align:center;
    font-family:Lato;
    font-style:normal;
    color:rgb(52,52,52);
}

#triangle {
	position:absolute;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-right: 90px solid rgb(215,226,229);
	border-bottom: 60px solid transparent;
	margin-left:155px;
	bottom:120px;
}
#character{
	position:absolute;
	bottom:50px;
	left:10px;
	/*z-index:1;*/
}
#soapbox{
	position:absolute;
	bottom:-35px;
	left:20px;
	/*z-index:1;*/
}
#countdown{
	margin-top:20px;
	margin-left:240px;
	color:rgb(52,52,52);
	font-family:Lato;
	font-size:30px;
	text-align:center;
}

/****************************************************************************************************/


.winner_rant_right_side{
    position:relative;
    right:0px;
    font-family:Lato;
    color:rgb(52,52,52);
}
.winner_rant_title_link{
    font-weight:700;
    font-size:20px;
    color:rgb(52,52,52);
}
.winner_rant_author_link{
    padding-left:30px;
    color:rgb(12,120,154);
    text-decoration:none;
}
.winner_rant_level{
    color:rgb(52,52,52);
}
.winner_rant_birth{
    display:inline;
    font-style:italic;
}
.winner_rant_star{
    width:25px;
    display:inline;
    margin-left:20px;
}
.winner_rant_medal{
    width:20px;
    display:inline;
    margin-left:20px;
}
.winner_rant_queen{
    width:25px;
    display:inline;
    margin-left:20px;
}
.winner_rant_king{
    width:25px;
    display:inline;
    margin-left:20px;
}
.winner_rant_death{
    display:inline;
    font-style:italic;
    margin-left:20px;
}
.winner_rant_content_line{
    min-height:20px;
    position:relative;
    margin-left:25px;
    margin-top:15px;
}

.winner_rant_NSFW_content{
    color:red;
}
