#log_in_sign_up_space{
	position:relative;
	width:100%;
	height:160px;
	margin-bottom:100px;
	margin-top:150px;
}

#log_in_form_space{
	position:absolute;
	left:0;
	width:50%;
}

#log_in_form{
	width:270px;
	font-family:lao ui;
	color:rgb(52,52,52);
	font-weight:700;
	font-size:20px;
	margin:auto;
	text-align:right;
}

#log_in_button{
	font-family:lao ui;
	color:rgb(52,52,52);
	font-weight:700;
	font-size:15px;
	text-align:center;
}

#log_in_form label{
	display:inline-block;
	width:105px;
    text-align: right;
}

#log_in_error_message{
	font-family:lao ui;
	color:red;
	font-weight:300;
	font-size:16px;
}

#log_in_help{
	font-size:16px;
	font-weight:100;
	color:white;
}

#sign_up{
	position:absolute;
	width:50%;
	right:0;
	font-family:lao ui;
	color:white;
	font-size:30px;
	text-align:center;
}

#sign_up a{
	color:rgb(52,52,52);
}