#my_items_space{
	position:absolute;
	left:20px;
	right:20px;
	/*bottom:20px;*/
	top:20px;
}
#my_boks{
	text-align:right;
}
#my_boks_count{
	font-family:Lato;
	color:rgb(52,52,52);
	font-size:27px;
	width:90px;
	display:inline;
}
#my_bok_symbol{
	display:inline;
	height:25px;
}
#get_more_boks_link{
	font-family: Lato;
	color:white;
	font-size:20px;
	padding-left:15px;
}
.my_item_tab{
	margin-top:10px;
	background-color:rgb(52,160,194);
	border-radius:5px;
	width:100%;
	font-family:Lato;
	font-size:30px;
	color:rgb(52,52,52);
	box-sizing:border-box;
	padding:10px;
}
.my_item_tab:hover {
	background-color: rgb(62,170,204);
	cursor:pointer;
}
.purchase_total_tab{
	margin-top:10px;
	background-color:rgb(52,160,194);
	border-radius:5px;
	width:100%;
	font-family:Lato;
	font-size:30px;
	color:rgb(52,52,52);
	box-sizing:border-box;
	padding:10px;
	text-align:right;
}
#purchase_total{
	display:inline;
}

.num_items{
	display:inline;
	font-family:Lato;
	font-size:30px;
	color:rgb(52,52,52);
}

.tab_total{
	display:inline;
	font-size:28px;
	float:right;
}

#defense_tab_content{
	width:90%;
	margin:0 auto;
	/*height:270px;*/
}
#attack_tab_content{
	width:90%;
	margin:0 auto;
	/*height:270px;*/
}
#boost_tab_content{
	width:90%;
	margin:0 auto;
	/*height:450px;*/
}

.item_container{
	box-sizing:border-box;
	font-family:Lato;
	font-size:25px;
	color:rgb(52,52,52);
	height:90px;
	position:relative;
}
.item_info{
	float:left;
}
.purchase_info{
	display:inline;
	position:absolute;
	width:380px;
	margin-left:55%;
	left:-190px;
	margin-top:20px;
}
.item_picture{
	border-radius:15px;
	border:solid rgb(12,120,154) 2px;
	padding:0;
}
.item_picture:hover{
	border-color:white;
	cursor:pointer;
}
.modal_item_picture{
	border-radius:15px;
	padding:0;
}
.qty{
	font-family:Lato;
	color:rgb(52,52,52);
	display:inline;
	font-size:25px;
	text-align:center;
	width:65px;
	border:none;
	border-radius:5px;
}
.use_info{
	display:inline;
	position:absolute;
	right:0;
	margin-top:20px;
}
.use_item_button{
	display:inline;
	text-align:center;
	border:solid rgb(12,120,154) 2px;
	border-radius:5px;
	margin-left:35px;
	font-family: Lato;
	color:white;
	background-color:rgb(52,52,52);
	font-weight:700;
	font-size:20px;
	padding:5px 10px 5px 10px;
}
.use_item_button:hover{
	border-color:white;
	cursor:pointer;
}

#purchase_items_button{
	display:inline;
	text-align:center;
	border:solid rgb(52,160,194) 2px;
	border-radius:5px;
	margin-left:35px;
	font-family: Lato;
	color:white;
	background-color:rgb(52,52,52);
	font-size:20px;
	padding:5px 10px 5px 10px;
}
#purchase_items_button:hover{
	border-color:white;
	cursor:pointer;
}
.total_num{
	display:inline;
}

#modal_background{
	background-color:rgba(52,52,52,0.85);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	display:none;
}
.modal_message{
	background-color:rgb(12,120,154);
	position:fixed;
	top:25%;
	width:100%;
	box-sizing:border-box;
	padding: 10px;
	text-align:center;
	font-family:Lato;
	color:rgb(52,52,52);
	font-size: 20px;
}
.modal_close{
	background-color:rgb(52,52,52);
	border:solid 1px rgb(52,52,52);
	font-family:Lato;
	color:white;
	font-size: 20px;
}
.modal_close:hover{
	border-color:white;
	cursor:pointer
}