#power_graph{
	position:absolute;
	bottom:20px;
	left:50px;
	right:0px;
	height:400px;
	padding-top: 5px;
}
#y_axis{
	position:absolute;
	top:5px;
	left:-50px;
	width:70px;
}
#x_axis{
	position:absolute;
	bottom:-30px;
	width:100%;
}

/*format tooltips for google charts*/
path {
	fill:rgb(52,160,194);
	stroke-width:0;
}