#power_graph{
	position:absolute;
	bottom:70px;
	left:100px;
	right:50px;
	height:200px;
	border-bottom:solid 2px white;
	border-left:solid 2px white;
	padding-top: 5px;
}
#y_axis{
	position:absolute;
	top:5px;
	left:-50px;
	width:70px;
}
#x_axis{
	position:absolute;
	bottom:-30px;
	width:100%;
}