#detailed_rant_container{
	position:relative;
	top: 0px;
	width:95%;
	margin-top:70px;
	margin-left:auto;
	margin-right:auto;
}
#detailed_rant_space{
	position:absolute;
	left:20px;
	right:20px;
	background-color: rgb(215,226,229);
	border-style:solid;
	border-color:rgb(215,226,229);
	border-radius:20px;
}
#detailed_power_graph{
	position:absolute;
	bottom:20px;
	left:50px;
	right:0px;
	height:400px;
}

#detailed_graph{
	position:relative;
	top:0px;
	left:0px;
	right:0px;
	height:350px;
}
#detailed_rank_slider{
	position:relative;
	bottom:0px;
	left:0px;
	right:0px;
	height:50px;
	text-align:center;
	color:rgb(52,52,52);
	font-family:Lato;
	font-weight:700;
	margin-top:20px;
}