#detailed_rant_container{
	position:relative;
	margin-top: 20px;
	width:98%;
	margin-left:auto;
	margin-right:auto;
	background-color: rgb(12,120,154);
	border-radius:20px;
}
#detailed_rant_space{
	position:absolute;
	left:20px;
	right:20px;
	top:20px;
	max-height:500px;
	min-height:200px;
	border-style:solid;
	border-color:rgb(215,226,229);
	border-radius:20px;
	background-color: rgb(215,226,229);
	overflow:auto;
}

#detailed_rant_title{
	color:rgb(52,52,52);
	font-family:lao ui;
	font-size:22px;
	font-weight:600;
}

.detailed_NSFW{
	color:red !important;
	font-size:18px;
	padding-right:20px;
}
.detailed_username{
	font-family:lao ui;
	color:rgb(12,120,154);
	font-size: 18px;
	text-decoration:none;
}

#detailed_rant_level{
	font-family:lao ui;
	color:rgb(52,52,52);
}
#detailed_rant_level_link{
	font-family:lao ui;
	color:rgb(12,120,154);
	text-decoration:none;
}
#detailed_rant_content{
	margin-top:20px;
	margin-left:15px;
	font-family:lao ui;
	color:rgb(52,52,52);
}

#detailed_power_graph{
	position:absolute;
	bottom:20px;
	left:0px;
	right:0px;
	height:400px;
}

/*#detailed_power_graph text{
	fill:white;
}*/

#detail_vote_buttons{
	position:absolute;
	bottom:40px;
	left:0;
	right:0;
	text-align:center;
}
.detail_button{
	margin-left:50px;
}
