.signup_height{
    height:300px;
}
.signup_success_height{
    height:420px;
}

#signup_space{
    position:absolute;
    width:50%;
    text-align:center;
}

#signup_form{
	width:350px;
	font-family:Lato;
	color:rgb(52,52,52);
	font-weight:700;
	font-size:20px;
	margin:auto;
}

#submit_button{
	font-family:Lato;
	color:rgb(52,52,52);
	font-weight:700;
	font-size:15px;
	text-align:center;
}

#signup_form label{
	display:inline-block;
	width:190px;
    text-align: right;
}

#signup_form div{
	font-family:Lato;
	color:red;
	font-weight:300;
	font-size:16px;
	text-align:center;
}

.checkbox_text{
	font-weight:100;
	font-size:16px;
}

.text_entry{
	font-family:Lato;
	color:rgb(52,52,52);
	text-align:center;
}

#signup_form a{
	color:white;
}

#DOB{
	color:rgb(52,52,52);
	text-align:center;
	font-size:14px;
}

#signup_success_message{
    position:relative;
    width:100%;
    /*margin-top:100px;*/
    text-align:center;
    font-family:Lato;
    color:rgb(52,52,52);
    font-weight:700;
    font-size:25px;
}

#signup_success_img{
    display:block;
    margin:0 auto;
    margin-bottom:100px;
}
