#form_space{
	position:relative;
	width:100%;
	margin-bottom:50px;
	margin-top:50px;
	text-align:right;
}

#sign_up_form{
	width:340px;
	font-family:lao ui;
	color:rgb(52,52,52);
	font-weight:700;
	font-size:20px;
	margin:auto;
}

#submit_button{
	font-family:lao ui;
	color:rgb(52,52,52);
	font-weight:700;
	font-size:15px;
	text-align:center;
}

label{
	display:inline-block;
	width:180px;
    text-align: right;
}

.checkbox{
	font-size:15px;
	font-weight:100;
	text-align:center;
	border:solid black 2px;
}

.blank{
	height:30px;
}