#submit_rant_container{
	position:relative;
	margin-top:0px;
	width:98%;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgb(12,120,154);
	border-radius:20px;
}

#title_for_submit{
	position:absolute;
	left:20px;
	right:20px;
	font-family:Lato;
	font-size:18px;
	color:rgb(52,52,52);
	font-weight:700;
	margin-top:20px;
}
#title_input{
	font-family:Lato;
	font-size:18px;
	color:rgb(52,52,52);
	padding-left:10px;
	padding-right:10px;
	border:0;
	width:100%;
	border-radius:5px;
}
#title_missing{
	font-family:Lato;
	font-size:16px;
	color:red;
	padding-left:10px;
	padding-right:10px;
	width:100%;
}

#rant_for_submit{
	position:absolute;
	left:20px;
	right:20px;
	font-family:Lato;
	font-size:18px;
	color:rgb(52,52,52);
	font-weight:700;
	margin-top:100px;
}
#rant_input_area{
    font-family:Lato;
    font-size:18px;
    font-weight:100;
    background-color:white;
    color:rgb(52,52,52);
    border:0;
    width:100%;
    border:solid white 5px;
    box-sizing:border-box;
    padding-left:1px;
    padding-right:1px;
    border-radius:5px;
}


#rant_input_area > div{
	width:100% !important;
}
#rant_input{
	width:100%;
}
.nicEdit-main{
	height:270px;
	overflow-y:scroll !important;
	width:100% !important;
	margin:0px !important;
	box-sizing:border-box;
    padding:5px;
    word-wrap:break-word;
}

#submit_rant_inputs{
	position:relative;
	top:450px;
	margin-right:50px;
	text-align:right;
}
#NSFW_checkbox_text{
	font-family:Lato;
	color:red;
	font-weight:700;
	font-size:20px;
	margin-right:50px;
}
#submit_rant_button{
    width:100px;
    float:right;
}






.mascot_button{
	display:inline;
	text-align:center;
	border:solid rgb(12,120,154) 2px;
	border-radius:5px;
	font-family: Lato;
	color:white;
	background-color:rgb(52,52,52);
	font-weight:700;
	font-size:20px;
	padding:5px 10px 5px 10px;
	margin-right:50px;
	margin-left:50px;
}
.mascot_button:hover{
	border-color:white;
	cursor:pointer;
}
.modal_mascot_background{
	background-color:rgba(52,52,52,0.85);
	position:absolute;
	left:0;
	top:0;
	width:100%;
}
#mascot_selection{
	background-color:rgb(12,120,154);
	position:fixed;
	top:25%;
	width:100%;
	box-sizing:border-box;
	padding-left: 25%;
	padding-right: 25%;
	text-align:center;
	font-family:Lato;
	color:rgb(52,52,52);
	font-size: 20px;
	border: solid rgb(12,120,154) 10px;
}
.mascot_img{
	width:75px;
	border:solid rgb(12,120,154) 2px;
	border-radius:5px;
}
.mascot_img:hover{
	border-color:white;
	cursor:pointer;
}
#mascot_detail_selection{
	background-color:rgb(12,120,154);
	position:fixed;
	top:25%;
	width:100%;
	box-sizing:border-box;
	padding: 10px;
	text-align:center;
	font-family:Lato;
	color:rgb(52,52,52);
	font-size: 20px;
}
#detail_mascot_img{
	width:200px;
}
#selected_mascot_img{
	position:absolute;
	top:435px;
	right:480px;
	width:50px;
}


