#tabs {
	position: relative;
	top: 5px;
	width:98%;
	margin-left:auto;
	margin-right:auto;
	list-style: none;
	padding:0;
	text-align:left;
}
#tabs .current_tab{
	display: inline;
	margin: 0 2px 0 0;
	background: rgb(12,120,154);
	border-radius:7px;
	padding:10px 0.75em 40px 1em;
	font-size: 20px;
}
#tabs .other_tab{
	display: inline;
	margin: 0 2px 0 0;
	background: rgb(52,160,194);
	border-radius:7px;
	padding:10px 0.75em 15px 1em;
	font-size: 20px;
}
#tabs #ten_min img{
	position:relative;
	top:12px;
}
#tabs li.other_tab:hover {
	background: rgb(62,170,204);
}
#tabs img{
	border:none;
}
#tabs a {
	text-decoration: none;
	color: white;
}