
#my_rant_sorts{
	width:100%;
	text-align:center;
	padding-top:40px;
	height:40px;
	font-family:Lato;
	font-weight:700;
	color:white;
	font-size:20px;
}
#my_rant_sorts form {
	display:inline;
	padding:0 30px 0 30px;
}
#my_rant_sorts select {
	font-family:Lato;
	color:rgb(52,52,52);
	font-size:18px;
	border-radius:5px;
}
#my_rants_space{
	margin-left:20px;
	margin-right:20px;
	margin-top:30px;
	background-color: rgb(215,226,229);
	border-radius:20px;
	border:solid 10px rgb(215,226,229);
}
#my_rants_navigation_table{
	width:100%;
	font-family:Lato;
	color:rgb(52,52,52);
	font-weight:700;
	font-size:16px;
	padding-top:20px;
	padding-bottom:20px;
}
