#user_account_info_space{
    position:absolute;
    left:20px;
    right:20px;
    /*bottom:20px;*/
    top:20px;
}

.user_account_info{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:30px;
}

.user_account_info_name{
    font-family:Lato;
    color:rgb(52,52,52);
    font-size:16pt;
    font-weight:700;
}

.user_account_info_input{
    font-family:Lato;
    color:rgb(52,52,52);
    font-size:18px;
    border-radius:5px;
}

#submit_account_info_button{
    font-family:Lato;
    color:white;
    background-color:rgb(52,52,52);
    font-size:20px;
    text-align:center;
    border-radius:5px;
    border:solid rgb(12,120,154) 2px;
    font-weight:700;
    padding:5px 10px 5px 10px;
    margin-top:100px;
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

#submit_account_info_button:hover{
    border-color:white;
    cursor:pointer;
}

#change_email_input{
	width:500px;
}

.input_error{
	display:block;
	font-family:Lato;
    color:red;
    font-weight:300;
    font-size:16px;
}

#email_reset_success_background{
    background-color:rgb(12,120,154);
    position:fixed;
    top:25%;
    left:5%;
    right:5%;
    box-sizing:border-box;
    padding-left: 10%;
    padding-right: 10%;
    text-align:center;
    font-family:Lato;
    color:rgb(52,52,52);
    font-size: 30px;
    border: solid rgb(12,120,154) 10px;
    padding-bottom:30px;
}

#email_reset_success_close{
    position:absolute;
    bottom:0;
    left:0;
    background-color:rgb(52,52,52);
    border:solid 1px rgb(52,52,52);
    font-family:Lato;
    color:white;
    font-size: 20px;
    width:100%;
}
#email_reset_success_close:hover{
    border-color:white;
    cursor:pointer
}