#user_account_info_space{
    position:absolute;
    left:20px;
    right:20px;
    /*bottom:20px;*/
    top:20px;
}

.user_account_info{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:30px;
}

.user_account_info_name{
    font-family:Lato;
    color:rgb(52,52,52);
    font-size:16pt;
    font-weight:700;
}

.user_account_info_input{
    font-family:Lato;
    color:rgb(52,52,52);
    font-size:18px;
    border-radius:5px;
}

#submit_account_info_button{
    font-family:Lato;
    color:white;
    background-color:rgb(52,52,52);
    font-size:20px;
    text-align:center;
    border-radius:5px;
    border:solid rgb(12,120,154) 2px;
    font-weight:700;
    padding:5px 10px 5px 10px;
    margin-top:100px;
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

#submit_account_info_button:hover{
    border-color:white;
    cursor:pointer;
}

#account_email_input{
	width:500px;
}