#user_account_info_space{
    margin-left:20px;
    margin-right:20px;
    padding-top:20px;
    padding-bottom:40px;
}

.user_account_info{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:30px;
}

.user_account_info_name{
    font-family:Lato;
    color:rgb(52,52,52);
    font-size:16pt;
    font-weight:700;
}

.user_account_info_input{
    font-family:Lato;
    color:rgb(52,52,52);
    font-size:18px;
    border-radius:5px;
}

#submit_account_info_button{
    width:250px;
    margin-left:auto;
    margin-right:auto;
}

#change_email_input{
	width:500px;
}

.input_error{
	display:block;
	font-family:Lato;
    color:red;
    font-weight:300;
    font-size:16px;
}

#email_reset_success_background{
    background-color:rgb(12,120,154);
    position:fixed;
    top:25%;
    left:5%;
    right:5%;
    box-sizing:border-box;
    padding-left: 10%;
    padding-right: 10%;
    text-align:center;
    font-family:Lato;
    color:rgb(52,52,52);
    font-size: 30px;
    border: solid rgb(12,120,154) 10px;
    border-radius:20px;
}

#email_reset_success_close{
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
}